body {
    background: url("images/27610.jpg") no-repeat center center fixed; 
    background-size: cover;
    color: white;
    font-family: 'Brush Script MT', cursive;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.block {
    display: flex;
    text-align: justify;
    text-justify: inter-word;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

img {
    width: 80%;
    box-shadow: 2px 2px 2px ghostwhite;
    display: block;
    margin: auto;
}

.svg-tooltip {
    background-color: forestgreen;
    border:2px solid gray;
}

svg {
    display: block;
    margin: auto;
}

#rural {
    max-height: 65%;
    max-width: 75%;
}

#inegi {
    background: transparent;
    max-height: 70%;
    max-width: 70%;
    margin-top: 20px;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#chart2_2 svg {
    max-width: 750px;
}